<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

   
    <h3>Add Review</h3>
    <hr />
    <form [formGroup]="restaurantForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>
        <div class="form-group row">
            <label class=" control-label col-md-12" for="Name">Text</label>
            <div class="col-md-4">
                <input class="form-control" type="text" formControlName="reviewText">
            </div>
            <span class="text-danger" *ngIf="restaurantForm.hasError('required', 'reviewText') && formDir.submitted">
                Review is required.
            </span>
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-default">Save</button>
            <button class="btn" (click)="cancel()">Cancel</button>
        </div>
    </form>
</body>
</html>